<?xml version="1.0" encoding="UTF-8"?>

<theme>

	<formatVersion>7</formatVersion>

	<include>./logo.xml</include>
	
	<view name="system">

		<text name="logoText">

			extra="true"

		>

			<text if="${system.name} == 'favorites'">${lang.favorites}</text>
			<text if="${system.name} == 'ports'">${lang.ports}</text>
			<text if="${system.name} == 'tools'">${lang.tools}</text>

		</text>

		<text ifSubset="systemlogoeffects:enabled" name="logoText"
		
			reflexion="0.05 0"
		
		/>



		<text name="systemInfo"
			
			zIndex="1000"
			backgroundColor="00000000"
			color="${c.text}"
			pos="${v.gamecounttext}"
			fontPath="./../fonts/${f.def}"
            		fontSize="0.04"
		>
			<visible ifSubset="gamecount:no">false</visible>
			<storyboard>		
				<animation property="opacity" from="0" to="1" duration="200" mode="easeIn" />		
			</storyboard>
			
		</text>
		
	</view>

</theme>
