<?xml version="1.0" encoding="UTF-8"?>

<theme>

	<formatVersion>7</formatVersion>
	
   <view name="system">

      <text name="systemInfo,logoText">
         <visible>false</visible>
      </text>

      <carousel name="systemcarousel">
         <origin>0 0</origin>
         <pos>0 0</pos>
         <size>1 1</size>
         <logoScale>1</logoScale>
         <maxLogoCount>1</maxLogoCount>
         <color>00000000</color>
         <type>horizontal</type>
         <defaultTransition>fade & slide</defaultTransition>
         <scrollSound>./_inc/sounds/scroll.wav</scrollSound>
         <zIndex>2</zIndex>
      </carousel>

      <text name="system-name" extra="true">
         <origin>0.5 0.5</origin>
         <pos>0.5 0.5</pos>
         <size>0.8 0.4</size>
         <fontSize>0.1125</fontSize>
         <fontPath>${fontLogo}</fontPath>
         <forceUppercase>true</forceUppercase>
         <alignment>center</alignment>
         <lineSpacing>.8</lineSpacing>
         <color>${systemLogoColor}</color>
         <text>${system.fullName}</text>
         <zIndex>2</zIndex>
      </text>
   </view>

</theme>
