<?xml version="1.0" encoding="UTF-8"?>

<theme>

	<formatVersion>7</formatVersion>
	
	<view name="system">

		<carousel name="systemcarousel"
			
			zIndex="1000"
			color="00000000"
			scrollSound="./../parts/scroll.wav"
			origin="0.5 0.5"
			pos="0.5 0.5"
			size="1 1"
			logoSize="0.85 0.85"
			maxLogoCount="1"
			logoScale="1"
			
		/>

		<carousel ifSubset="slideType:vertical" name="systemcarousel"
			type="vertical_wheel"
			maxLogoCount="3"
		/>


		<text name="systemInfo"
			
			zIndex="1000"
			backgroundColor="00000000"
			color="${c.text}"
			pos="${p.gamecounttext}"
			fontPath="./../fonts/${f.def}"
            		fontSize="0.04"
		>
			<visible ifSubset="gamecount:no">false</visible>
			<storyboard>		
				<animation property="opacity" from="0" to="1" duration="200" mode="easeIn" />		
			</storyboard>
			
		</text>
		
	</view>

</theme>
